/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #16bbbf;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Poppins', sans-serif;
}

/* Header */
header {
    background-color: #16bbbf;
    padding: 20px;
    padding-right: 70px;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #363636;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #363636;
}

h1 {
    font-family: 'Poppins', sans-serif;
    text-transform: none;
    color: #363636;
}


#menu {
    font-size: 100%;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
    padding: 30px;
}
#menu > li:hover {
    font-size: 150%;
}

.active {
    border-bottom: 1px solid #363636;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #16bbbf;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #363636;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}
.container {
  background-color: #16bbbf;
  display: flex;
  align-items: center;
  justify-content: center;
margin-top: 190px;
}
img {
  max-width: 100%;
        max-height: 100%;
        display: block;
        box-shadow: 0 2px 2px #363636;
}
.image {
  margin: 20px;
}
.form-group {
    padding: 20px;
}
a.button-help {
  padding: 1px 6px;
  border: 1px outset buttonborder;
  border-radius: 3px;
  color: buttontext;
  background-color: transparent;
  text-decoration: none;
}
a.button-help:hover 
{font-size: 1em;
  padding: 5px;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  background-color: #53de90;
  transition: all 0.3s ease-out;

}

h2 {
  font-size: 200%;
}
h2, h3, h4 {
  text-align: center;
}
.container-three {
  padding: 20px;
}




.text {
  font-size: 20px;
  padding-left: 10px;
}
.box > a {
  text-align: center;
  margin: 0 auto;
  
}

.button {
  font-size: 1em;
  padding: 5px;
  color: #000;
  border-radius: 20px/20px;
  background-color: ;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;

}
.button:hover {
  background: transparent;
}

.overlay {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(248, 248, 248, 0);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 0 auto;
  padding: 5px;
  background: #000;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;
}


.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Poppins, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #8d8d8d;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
footer {
  background-color: #16bbbf;
  box-shadow: 0 -2px 2px #363636;
}
h5 {
  font-size: larger;
}
.col-lg-3 {
  text-align: center;
  padding: 20px;

}
ul {
  list-style-type: none;
}
.text-center {
  text-align: center;
  padding: 0;
}
.container-two {
  background-color: #53de90;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
margin-top: 20px;
}
.popup h2 {
    font-size: 50%;
}
.text-black {
  color: rgb(12, 12, 12);
}
.media {
  margin-top: 90px;
}
/* support page css */
.container-top {
  background-color: #16bbbf;
  text-align: center;
margin-top: 160px;
padding: 20px;
}
.container-top h1 {
  padding: 20px;
}
.pic-box {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
ul li {
  margin: 20px;
  text-align: center;
  }
  .mh-text {
    margin: 20px;
  }
  .trailer {
    background-color: #53de90;
  }
  .trailer h3 {
    background-color: #53de90;
  }
  .container-fluid {
    background-color: #53de90;
    margin-top: 0;
    padding: 30px;
  }
  .container-fluid h2{
    background-color: #53de90;
  }
  .container-fluid p {
    background-color: #53de90;
  }
  .button-help-two {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    text-align: center;
  }
  a.button-help-two {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: buttontext;
    background-color: transparent;
    text-decoration: none;
  }
  a.button-help-two:hover {  font-size: 1em;
    padding: 5px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    background-color: #16bbbf;
    transition: all 0.3s ease-out;
  
  }




/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 150%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 79px;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover{
        font-size: 120%;
    }
}


.card .card-img-top {
  height: 350px;
  width: 400px;
  border-radius: 50%;
  padding: 20px;  
  background-color: #53de90;
}
.card {
  margin: 20px;
  background-color: #53de90;
}
.card-text {
  background-color: #53de90;
}
.card-title {
  background-color: #53de90;
  text-align: center;
}
